SECRET_KEY=secret-key
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_DB_PORT=5432
GOOGLE_CLIENT_ID='168032833034-61ufco8o3dd5mufsntaeb90kdhfjtari.apps.googleusercontent.com'
GOOGLE_CLIENT_SECRET='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'
REDIRECT_URI='http://127.0.0.1:8000/api/oauth/callback/'
